{% extends 'csgoapp/index.html' %}

{% load static %}

    {% block content %}
  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <h1 align="center">Esta página está hecha para la entrega final de Coderhouse, realizada por Tomas Kopelson y Carlos Jolly. Ambos aspirantes a ser programadores, este proyecto presentó un desafío muy importante a la hora de continuar con nuestra carrera.</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

      {% endblock %}