{% extends 'csgoapp/index.html' %}

{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1 align="center">Formulario - Editar Perfil</h1>
<h2 align="center">De {{usuario}}</h2>
<br>
<br>

<div align="center">
    <form action="" method="POST">{% csrf_token %}

    <table>

        {{miFormulario.as_table}}
    
    </table>
    <br>

    <input type="submit", value ="Enviar">


    </form>
</div>  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}