{% extends 'csgoapp/index.html' %}

{% load static %}

{% block content %}



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  
 

<form align="center" action="alta_player" method="POST">
    {% csrf_token %}
    <p>Ingresar un jugador: </p>
    <br>
    <p>Nombre: </p>
    <input type="text" name="nombre">
    <br>
    <br>
    <p>Team: </p>
    <input type="text" name="team">

    <br>
    <br>
    <input type="submit" value="Enviar">
<br>
<br>
</form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<form align="center" action="buscar_player" method="GET">
    <p>Nombre del jugador a buscar:</p>
    <input type="text" name="nombre" id="nombre">
    <input type="submit" value="Buscar">
</form> 

<p align="center">
    {% if players %}
    <ul>
    {% for player in players %}
    <li align="center" list-style-type = 'none'>id: {{player.id}}</li>
    <li align="center" list-style-type = 'none'>Nombre: {{player.nombre}}</li>
    <li align="center" list-style-type = 'none'>Team: {{player.team}}</li>
    {% endfor %}
    {% else %}
    <p align="center">No se encontraron jugadores</p>
    </ul>
    {% endif %}
</p>

<br>
<br>
<br>
<br>
<br>

<div class="caterlitosh" align="center">
 <p>Borrar jugadores</p>

 {% for p in players %} 
 <li>{{p.nombre}}</li>
 <br>
 <button>
    <a href="{% url 'eliminar_player' p.id %}">Eliminar</a>
 </button>
 {% endfor %}
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}