{% extends 'csgoapp/index.html' %}

{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">

  <a href="alta_tournaments.html" class="btn btn-outline-dark mt-5">Crear Nuevo</a>

  <table class="table table-bordered table-info mt-5 text-center">
  <thead>
      <tr>
      <th>Id</th>
      <th>Torneo</th>
      <th>Región</th>

      </tr>
  </thead>
  <tbody>
      {% for tournament in tournaments %}
          <tr>
              <th>{{ tournament.id }}</th>
              <td>{{ tournament.nombre }}</td>
              <td>{{ tournament.region }}</td>
              <td>
                {% if user.is_authenticated %}
                  <a href="detalles_tournaments_{{ tournament.id }}"class="btn btn-danger">Ver mas</a>
                  <a href="editar_tournaments/{{tournament.id}}" class="btn btn-success">Editar</a>
                  <a href="eliminar_tournament_{{ tournament.id }}" class="btn btn-primary">Eliminar</a>
                {% else %}
                  <a class="btn btn-danger">Ver mas</a>
                  <a class="btn btn-success">Editar</a>
                  <a class="btn btn-primary">Eliminar</a>
                {% endif %}
                
              </td>
          </tr>
      {% endfor %}
  </tbody>
  </table>


</div>

<br>
<br>
<br>
<br>
<br>

{% endblock %}